<h3 class="title">スケジュール詳細</h3>

<table>
 <tr>
  <th>タイトル</th>
  <td><%= @schedule.title %></td>
 </tr>
 
 <tr>
  <th>開始日</th>
  <td><%= @schedule.startDate.strftime('%Y年%m月%d日') %></td>
 </tr>
 
 <tr>
  <th>終了日</th>
  <td><%= @schedule.endDate.strftime('%Y年%m月%d日') %></td>
 </tr>
 
 <tr>
  <th>終日</th>
  <td align="center"><% if @schedule.allDay == "1" %>
    ○
    <% else %>
    
    <% end %></td>
 </tr>
 
 <tr>
  <th>スケジュールメモ</th>
  <td><%= @schedule.memo %></td>
 </tr>
</table>

<div>
 <ul style="list-style: none;">
  <li><%= link_to "スケジュール一覧に戻る", :schedules %></li>
  <li><%= link_to "スケジュールを編集する", :edit_schedule %></li>
  <li><%= link_to "スケジュールを削除する", schedule_path(@schedule.id), data: {turbo_method: :delete, turbo_confirm: "本当に削除しますか？"} %></li>
 </ul>
 
</div>